@font-face {
  font-family: "dataServerIcon"; /* Project id 3924147 */
  src: url('iconfont.woff2?t=1677764483578') format('woff2'),
       url('iconfont.woff?t=1677764483578') format('woff'),
       url('iconfont.ttf?t=1677764483578') format('truetype');
}

.dataServerIcon {
  font-family: "dataServerIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-server-icon-yanjing:before {
  content: "\e600";
}

.data-server-icon-shanchu:before {
  content: "\e74b";
}

.data-server-icon-zanting:before {
  content: "\e605";
}

.data-server-icon-yunhang:before {
  content: "\ec61";
}

.data-server-icon-tianxie:before {
  content: "\ec88";
}

.data-server-icon-wenjian:before {
  content: "\e637";
}

.data-server-icon-database:before {
  content: "\e940";
}

